<div class="country-name">
    <h1>{{name}}</h1>
</div>
<div >
    <ul class="country-info">
        <li>Capital: {{capital}}</li>
        <li>Region: {{region}}</li>
        <li>Population: {{population}}</li>
        <ul class="country-info">
            {{#each languages}}
            <li>{{this.name}}</li>
            {{/each}}
        </ul>
                </ul>
</div>
<div class="flag">
    <img {{#each flags}} src={{this}} {{/each}} alt='flag of {{name}}' width='200' />
    </div>